.copyright {
    font-size: 14px;
    text-align: center;
}
  
footer {
    margin-top: 4%;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #b7adad;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

@media (max-width: 480px) {
    .copyright {
        font-size: 12px;
    }
    .contenedor-copyright {
        display: flex;
        flex-direction: column;
    }
}